@font-face {
    font-family: Agency;
    src: url("../fonts/agency/Agency.ttf");
}
@font-face {
    font-family: Roboto-Condensed-Bold;
    src: url("../fonts/roboto/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: Roboto-Condensed-Regular;
    src: url("../fonts/roboto/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: Roboto-Condensed-Light;
    src: url("../fonts/roboto/RobotoCondensed-Light.ttf");
}
body{
    font-family: Roboto-Condensed-Regular, sans-serif;
}
.modal-open .header{
    padding-right: 17px;
}

/*dorpdown*/
.dropdown-menu{
    background: #6c6c6e;
    border-radius: 0px;
    margin: 0;
}
.dropdown-menu a{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto-Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-menu a:hover{
    background: unset;
}

.drop-hr{
    background: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*menu*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding-top: 0!important;
}
.sticky .firstline {
    background-image: radial-gradient(circle farthest-side, transparent 0, #141515 0);
}
.sticky .logo-wrap:before, .sticky .logo-wrap:after {
    opacity: 0;
}
.sticky .logo-wrap {
    background: none;
}
.sticky .logo{
    width: 120px;
    top: -75px;
}
.firstline{
    color: #fff;
    font-family: 'Roboto-Condensed', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    z-index: 3000;
    position: relative;
    min-height: 70px;
    background-image: -webkit-radial-gradient(circle farthest-side, transparent 101px, #141515 0);
    max-height: 70px;
    background-image: radial-gradient(circle farthest-side, transparent 101px, #141515 0);
    transition: .5s;
}
.header {
    padding-top: 50px;
}
.header .navbar {
    min-height: 68px;
    position: relative;
    z-index: 99999999;
    padding-top: 0;
    padding-bottom: 0;
}
.active{
    color: #fff;
}
.active img{
    display: inline-block !important;
}
.dropdown-item.active img{
    display: inline-block !important;
}
.dropdown-item.active{
    color: #fff;
    background: none;
}

.navbar-toggler:focus{
    outline-color: #9c1d24;
}

.dark-bg {
    background: #141515;
}
.logo-area{
    position: relative;
    text-align: center;
    min-height: 70px;
    z-index: 100;
}
.logo-wrap{
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 50%;
    height: 70px;
    width: 120px;
    background-color: #141515;
    margin-left: -60px;
}
.logo-wrap:before {
    content: '';
    position: absolute;
    left: -65px;
    bottom: -5px;
    width: 100px;
    height: 165px;
    background: #141515;
    border-bottom: 2px solid #fff;
    border-left: 3px solid #fff;
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    -o-transform: skewX(40deg);
    transform: skewX(40deg);
    z-index: 501;
    /*transition: .3s;*/
}
.logo-wrap:after {
    content: '';
    position: absolute;
    right: -65px;
    bottom: -5px;
    width: 100px;
    height: 165px;
    background: #141515;
    border-bottom: 2px solid #fff;
    border-right: 3px solid #fff;
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    z-index: 500;
    /*transition: .3s;*/
}
.sticky .bottomline {
    transform: translateY(-100%);
}
.bottomline{
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 150;
    position: absolute;
    transition: .3s;
}
.main-submenu-wrapmiddle{
    background: #6c6c6e;
}
.submenu{
    background-color: #6c6c6e;
    position: relative;
    min-height: 36px;
}
.submenu-left:before {
    content: '';
    position: absolute;
    left: -35px;
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 0 35px 35px 0;
    border-color: transparent #6c6c6e transparent transparent;
}
.left-menu, .right-menu {
    height: 100%;
    display: flex;
    align-items: center;
}
.left-menu a:hover{
    color: #1f2022 !important;
}
.right-menu a:hover{
    color: #1f2022 !important;
}

.submenu-right:after{
    content: '';
    position: absolute;
    top: 0;
    right: -35px;
    width: 0;
    height: 100%;
    border-style: solid;
    border-width: 35px 35px 0 0;
    border-color: #6c6c6e transparent transparent transparent;
}

/*.firstline .navbar {*/
/*    border-bottom: 2px solid white;*/
/*}*/
.logo {
    position: relative;
    display: inline-block;
    width: 150px;
    height: auto;
    z-index: 2100;
    left: -14px;
    top: -85px;
    max-width: none;
    transition: all .3s ease;
}
/*menu*/
/*content*/

.content {
    margin-top: -120px;
}
.section-title{
    color: #9c1d24;
    font-size: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Agency, sans-serif;
    font-weight: 700;
}
.bg-red {
    background: #9c1d24;
}
.color-red{
    color: #9c1d24;
}
.background-section{
    height: 416px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background: black;
    opacity: .3;
}
span.red {
    color: #9c1d24;
}
.section-title img {
    height: 20px !important;
    margin-right: 10px;
    margin-bottom: 4px;
}
.breadcrumb-cont img{
    height: 20px !important;
}
.footer{
    background-repeat: no-repeat;
    padding: 75px 0 0 25px;
}
.footer .section-title {
    font-size: 18px;
}
.text-about{
    font-size: 14px;
    font-family: Roboto-Condensed, sans-serif;
    line-height: 24px;
}
.footer li a{
    color: white;
    text-decoration: none!important;
    font-size: 14px;
    font-family: Roboto-Condensed, sans-serif;
}
.footer-list li:before{
    content: "";
    border-right: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    display: inline-block;
    left: -10px;
    top: -2px;
    position: relative;
}

.facebook{
    background-image: url("../images/home/fb.png");
    width: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 26px;
    display: inline-block;
}

.instagram{
    background-image: url("../images/home/insta.png");
    width: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 24px;
    display: inline-block;
}

.facebook:hover{
    background-image: url("../images/home/fb_hover.png");

}
.instagram:hover{
    background-image: url("../images/home/insta_hover.png");
}

.left-list{
    padding-left: 20px;
}
.left-block{
    /*height: 30px;*/
    margin-bottom: 0;
    background: white;
    color: #9c1d24;
    padding: 5px;
}
.right-borders{
    border-radius: 8px 0 0 8px;
    width: 30px;
}
.left-borders{
    border-radius: 0 8px 8px 0;
}
.partners{
    height: 120px;
    background: #151515;
}
.up{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    bottom: 0;
    transform: translateY(50%) translateX(-50%) rotate(45deg);
    left: 50%;
    cursor: pointer;
    background: #141414;
    transition: .1s;
}
.up:hover{
    transform: translateY(50%) translateX(-50%) rotate(45deg) scale(1.1);
}
.up img{
    transform: rotate(45deg);
}
.title{
    color: #9c1d24;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Agency, sans-serif;
    font-weight: 700;
}
.subtitle{
    color: white;
}
.rounded-button {
    background: #9c1d24;
    border-radius: 10px !important;
    border: none;
    height: 35px;
    font-family: Roboto-Condensed-Bold, sans-serif;
    color: white;
    font-size: 16px;
    padding: 0 30px;
    letter-spacing: 1px;
}
.rounded-button a{
    color: #fff;
}
.rounded-button a:hover{
    text-decoration: none;
}
.title img{
    height: 20px !important;
    margin-right: 10px;
    margin-bottom: 4px;
}
.background-section .greater{
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.main-box:hover .name-box{
    transform: rotate(-90deg) translate(-130px,-155px);
}
.main-box .name-box{
    transform: rotate(-90deg) translate(-130px,-255px);
    transition: .6s;
}
.main-box {
    height: 310px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.name-box p{
    color: white;
    font-family: Roboto-Condensed-Bold, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    font-size: 18px;
}
.name-box {
    width: 350px;
    transform: rotate(-90deg) translate(-130px,-155px);
    position: absolute;
    background: #9c1d24;
    height: 40px;
    z-index: 10;
}
.age-box p{
    color: white;
    font-family: Roboto-Condensed-Bold, sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    width: 100%;
}
.age-box{
    background: #000000cc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
/*content*/

/*media*/
@media all and (max-width: 1023px) {
    .header {
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    .logo-mobile {
        height: 55px;
    }
    .content{
        margin-top: 80px;
    }
    .mobile-menu .nav-link{
        text-align: right;
        padding-right: 10px;
    }
    .background-section{
        height: 220px;
    }
}
@media all and (min-width: 1024px) {
    .header {
        display: block;
    }
    .mobile-menu{
        display: none;
    }
    .sticky + .content {
        padding-top: 120px;
    }
}
@media all and (max-width: 460px) {
    .left-borders{
        font-size: 13px;
    }
}

@media all and (max-width: 375px) {
    .owl-carousel .slider-title{
        font-size: 45px !important;
    }
    .owl-carousel .love{
        display: block !important;
    }
    .breadcrumb-cont .title{
        font-size: 24px !important;
    }
}

@media all and (max-width: 425px) {
    #partnerGallery img {
        height: 45px !important;
    }
    .owl-carousel {
        height: 30vh !important;
    }
    .owl-carousel .slider-item{
        height: 30vh;
    }
    .owl-carousel .slider-title {
        font-size: 30px !important;
        line-height: 40px;git
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .header-btn {
        border: 1px solid #9c1d24;
        padding: 5px 10px;
        height: unset;
        margin-bottom: 30px;
    }

    .rounded-button {font-size: 14px;}

    .owl-carousel .love{
        display: block;
    }
    .owl-carousel .slider-title{
        font-size: 45px !important;
    }
    .gallery-top .finals, .gallery-top .stadium{
        font-size: 16px !important;
        margin-bottom: 0 !important;
    }
}

@media all and (max-width: 768px) {
    .owl-carousel .slider-item{
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }

    .sticky + .content {
        padding-top: 0px !important;
    }

    .breadcrumb-cont .title{
        font-size: 28px;
    }
}

/*slider home page*/
.match-slider .gallery-top .swiper-slide .first-row{
    position: relative;
    overflow: hidden;
}
.match-slider .swiper-slide .logo-cont, .match-slider .swiper-slide .left, .match-slider .swiper-slide .right {
    transition: .6s!important;
    position: relative;
}
.match-slider .swiper-slide .logo-cont:first-child, .match-slider .swiper-slide .left{
    position: relative;
    left: -100%;
}

.match-slider .swiper-slide .logo-cont:last-child, .match-slider .swiper-slide .right{
    position: relative;
    right: -100%;
}
.match-slider .swiper-slide.swiper-slide-active .logo-cont:first-child, .match-slider .swiper-slide.swiper-slide-duplicate-active .logo-cont:first-child, .match-slider .swiper-slide.swiper-slide-active .left, .match-slider .swiper-slide.swiper-slide-duplicate-active .left{
    left: 0;
    transition: .6s!important;
}
.match-slider .swiper-slide.swiper-slide-active .logo-cont:last-child, .match-slider .swiper-slide.swiper-slide-duplicate-active .logo-cont:last-child, .match-slider .swiper-slide.swiper-slide-active .right, .match-slider .swiper-slide.swiper-slide-duplicate-active .right{
    right: 0;
    transition: .6s!important;
}

.animate .logo-cont:first-child, .animate .left{
    position: relative;
    left: -100%!important;
}
.animate .logo-cont:last-child, .animate .right{
    position: relative;
    right: -100%!important;
}

#partnerGallery img {
    -webkit-filter: brightness(0.02) invert(1); /* Safari 6.0 - 9.0 */
    filter: brightness(0.02) invert(1);
    transition: .3s;
    height: 60px;
}
#partnerGallery img:hover{
    -webkit-filter: brightness(1) invert(0); /* Safari 6.0 - 9.0 */
    filter: brightness(1) invert(0);
    transition: .3s;
}

.desc h4{
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto-Condensed-Bold, sans-serif;
}

.gallery .main{
    cursor: pointer;
}
.slider-title.lg{
    font-size: 70px;
}
.table-section .table-head{
    font-size: 22px;
}
#exampleModalCenter .modal-content .name{
    font-size: 20px;
    text-transform: uppercase;
}
#exampleModalCenter .modal-content{
    background-color: #f7f7f7;
}
#exampleModalCenter .modal-content .price{
    color: #6a6a6a;
}
.title-cont{
    position: relative;
    left: -30%;
    opacity: 0;
    transition: 1.3s;
}
.animation-finished{
    left: 0;
    opacity: 1;
}
.finished-games .time-cont{
    width: 50%;
}

.gallery-top .team-cont{
    width: 25%;
    text-align: center;
}
.gallery-top .finished-games .team-cont{
    width: auto;
}
.gallery-top .date-cont{
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: white;
}
.time-final{
    width: 60%;
    text-align: center;
    position: relative;
    z-index: 10;
}
